<section class="main-content" >
  <ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Produits</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main">
        <i class="
fas fa-shopping-cart font-17"></i></a>
    </li>
  <!--  <li class="breadcrumb-item" style="font-size: 15px;">Niveau</li>-->
    
  </ul>
 
  <div class="section-body" >
    <div class="row" >
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" > 
        
          <div class="card" >
              <div class="p-10" >
                <div class="row">
                  <div class="col-lg-6">
                    <div class="row m-0">
                      <!--<div class="col-lg-3 p-0">
                        <div class="ngxTableHeader">
                          <div class="table-title">
                            <h2><strong>Fiches matières</strong></h2>
                          </div>
                        </div>
                      </div>-->
                      <div class="col-lg-6 p-0">
                        <div class="ngxTableHeader">
                          <div class="table-search-area">
                            <div>
                              <label for="search-input"><i class="material-icons search-icon">search</i></label>
                              <input placeholder="Chercher..." type="text"  class="browser-default search-field" [(ngModel)]="filterValues.nomProduit" (ngModelChange)="onFilterChange()"
                                (keyup)='filterDatatable($event)' aria-label="Search box" >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 p-0">
                        <div class="ngxTableHeader">
                          <!--<div class="header-buttons-left">-->
                          <!--  <div class="icon-button-demo buttons">-->
                              <button class="btn btn-icon icon-left btn-primary rounded-button"  (click)='addRow(addRecord)' >
                                <i class="material-icons">add</i>
                              </button>
                              &nbsp;&nbsp;<button [hidden]=!isRowSelected class="btn btn-icon icon-left btn-danger rounded-button"
                                (click)='deleteSelected()' >
                                <i class="material-icons">delete</i>
                                
                              </button>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ngx-datatable    #table class="material" [rows]="filteredData" [loadingIndicator]="loadingIndicator"
                  columnMode="force" [headerHeight]="60" [footerHeight]="80" rowHeight="auto" [limit]="5"
                  [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable" [selected]="selected"
                  [selectionType]="'checkbox'" (select)='onSelect($event)'  [columns]="columns">
                  
                  <ngx-datatable-column [width]="70" [sortable]="false" [draggable]="false" [resizeable]="false"
                    [canAutoResize]="false" [headerCheckboxable]="true" [checkboxable]="true">
                  </ngx-datatable-column>
  
                  <ngx-datatable-column [width]="200" name="produit " >
                    <ng-template let-row="row" let-value="value" let-i="index"  ngx-datatable-cell-template >
                      <div class="name-col-style"  >
                        <div   >{{row.nomProduit}}</div>
  
                     </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [width]="200" name="description " >
                    <ng-template let-row="row" let-value="value" let-i="index"  ngx-datatable-cell-template >
                      <div class="name-col-style"  >
                        <div   >{{row.description}}</div>
  
                     </div>
                    </ng-template>
                  </ngx-datatable-column>
                  
                  <ngx-datatable-column [width]="100" name="prix actuel " >
                    <ng-template let-row="row" let-value="value" let-i="index"  ngx-datatable-cell-template >
                      <div class="name-col-style"  >
                        <div   >{{row.prixActuel}}</div>
  
                     </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [width]="100" name="prix réduction " >
                    <ng-template let-row="row" let-value="value" let-i="index"  ngx-datatable-cell-template >
                      <div class="name-col-style"  >
                        <div   >{{row.prixRreduction}}</div>
  
                     </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [width]="100" name="quantité " >
                    <ng-template let-row="row" let-value="value" let-i="index"  ngx-datatable-cell-template >
                      <div class="name-col-style"  >
                        <div   >{{row.quantite}}</div>
  
                     </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [width]="200" name="catégorie" >
                    <ng-template let-row="row" let-value="value" let-i="index"  ngx-datatable-cell-template >
                      <div class="name-col-style"  >
                        <div>{{row.categorie.nomCategorie}}</div>
  
                     </div>
                    </ng-template>
                  </ngx-datatable-column>
                
                
                  <ngx-datatable-column [width]="100" name="Actions" sortable="false" [width]="100">
                    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <span>
                        <button class="btn btn-tbl-edit h-auto" (click)='editRoww(row, rowIndex, editRecord)'>
                          <i class="fas fa-pen"></i>
                        </button>
                        <button class="btn btn-tbl-delete h-auto" (click)="deleteProduit(row.idProduit)">
                          <i class="far fa-trash-alt"></i>
                        </button>
                      </span>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
                <!-- Add Record Modal Window -->
                <ng-template #addRecord let-modal>
                  <div class="modal-header editRowModal">
                    <h4 class="modal-title" id="modal-basic-title">
                      <div class="table-modal-header">
                        <img [src]='newUserImg' alt="avatar">
                        <div class="modal-about">
                          <div class="fw-bold p-t-10 font-17">  Nouveau Produit</div>
                          
                        </div>
                      </div>
                    </h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                      <span aria-hidden="true"><i class="material-icons">close</i></span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                      <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2 form-group position-relative">
                          <label>Nom Produit<span class="text-danger">*</span></label>
                           
                          <input type="text" class="form-control" placeholder="nom produit" formControlName="nomProduit"
                            required>
                          <small class="form-text text-danger"
                            *ngIf="!registerForm.get('nomProduit').valid && registerForm.get('nomProduit').touched"> Le nom est requis</small>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2 form-group position-relative">
                          <label>Catégorie <span class="text-danger">*</span></label>
                          <select class="form-control form-select" formControlName="idCategorie" required>
                            <option value="" selected disabled>Selectionnez catégorie</option>
                            <option *ngFor="let cat of categories" [value]="cat.idCategorie">
                              {{cat.nomCategorie}}
                            </option>
                          </select>
                       
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2 form-group position-relative">
                          <label>Prix actuel<span class="text-danger">*</span></label>
                          <input type="text" class="form-control" placeholder="prix actuel" formControlName="prixActuel"
                            required>
                          <small class="form-text text-danger"
                            *ngIf="!registerForm.get('prixActuel').valid && registerForm.get('prixActuel').touched"> prix actuel est requis</small>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2 form-group position-relative">
                          <label>Prix aprés réduction<span class="text-danger">*</span></label>
                          <input type="text" class="form-control" placeholder="prix réduction" formControlName="prixRreduction"
                            required>
                          <small class="form-text text-danger"
                            *ngIf="!registerForm.get('prixRreduction').valid && registerForm.get('prixRreduction').touched"> prix réduction est requis</small>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2 form-group position-relative">
                          <label>Quantité<span class="text-danger">*</span></label>
                          <input type="text" class="form-control" placeholder="quantité produit" formControlName="quantite"
                            required>
                          <small class="form-text text-danger"
                            *ngIf="!registerForm.get('quantite').valid && registerForm.get('quantite').touched"> quantité est requis</small>
                        </div>
                      </div>
                  
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" >Ajouter</button>
                        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fermer</button>
                      </div>
                    </form>
                  
                  </div>
                </ng-template>
                <!-- Edit Record Modal Window -->
                <ng-template #editRecord let-modal>
                  <div class="modal-header editRowModal">
                    <h4 class="modal-title" id="modal-basic-title">
                      <div class="table-modal-header">
                        <!--<img [src]='selectedRowData?.img' alt="avatar">-->
                        <div class="modal-about">
                          <div class="fw-bold p-t-10 font-17">
                            Modification Produit
                            </div>
                        </div>
                      </div>
                    </h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true"><i class="material-icons">close</i></span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="editForm" (ngSubmit)="onEditSaveProduit(editForm)">
                      <div class="input-field col s12 d-none">
                          <input formControlName="idProduit" class="form-control" type="hidden">
                        </div>
                       <!-- <div class="input-field col s12 d-none">
                          <input formControlName="img" class="form-control" type="hidden">
                        </div>-->
                       
                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2 form-group position-relative">
                            <label>Nom Produit<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="nom produit" formControlName="nomProduit"
                              required>
                            <small class="form-text text-danger"
                              *ngIf="!editForm.get('nomProduit').valid && editForm.get('nomProduit').touched">  Nom est requis</small>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2 form-group position-relative">
                            <label>Catégorie <span class="text-danger">*</span></label>
                            <select class="form-control form-select" formControlName="categorie" required>
                              <option value="" selected disabled>Selectionnez catégorie</option>
                              <option *ngFor="let cat of categories" [value]="cat.idCategorie">
                                {{cat.nomCategorie}}
                              </option>
                            </select>
                           
                          </div>
                        </div>
  
                        <div class="row">
                          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2 form-group position-relative">
                            <label>Prix actuel<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="prix actuel" formControlName="prixActuel"
                              required>
                            <small class="form-text text-danger"
                              *ngIf="!editForm.get('prixActuel').valid && editForm.get('prixActuel').touched"> prix actuel est requis</small>
                          </div>
                          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2 form-group position-relative">
                            <label>Prix aprés réduction<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="prix réduction" formControlName="prixRreduction"
                              required>
                            <small class="form-text text-danger"
                              *ngIf="!editForm.get('prixRreduction').valid && editForm.get('prixRreduction').touched"> prix réduction est requis</small>
                          </div>
                          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2 form-group position-relative">
                            <label>Quantité<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="quantité produit" formControlName="quantite"
                              required>
                            <small class="form-text text-danger"
                              *ngIf="!editForm.get('quantite').valid && editForm.get('quantite').touched"> quantité est requis</small>
                          </div>
                        </div>



                      
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">Enregistrer</button>
                        <button type="button" class="btn btn-light" (click)="modal.close()">Fermer</button>
                      </div>
                    </form>
                  </div>
                </ng-template>
              </div>
            </div>
      </div>
      
    </div>
  </div>
</section>
