<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container register-container">
        <div class="card register-card">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="assets/images/register.jpg" alt="register" class="register-card-img">
                </div>
                <div class="col-md-6">
                    <div class="register-body">
                        <div class="text-center">
                            <div class="brand-wrapper">
                                <h3>Créer un compte</h3>
                                <!--        <img src="assets/images/logo.png" alt="logo" class="logo"><span class="logo-name">Oreva</span>-->

                            </div>
                        </div>
                        <form class="login-form mt-1" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <!--j'ai modifié 1  kant 4-->
                          <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group position-relative">
                                        <label>Prénom <span class="text-danger">*</span></label>
                                        <i-feather name="user-check" class="login-icons"></i-feather>
                                        <input type="text" class="form-control psl-5" formControlName="prenomEleve"
                                            placeholder="Prénom de l'elève" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group position-relative">
                                        <label>Nom <span class="text-danger">*</span></label>
                                         <i-feather name="user" class="login-icons"></i-feather>
                                        <input type="text" class="form-control psl-5" formControlName="nomEleve"
                                            placeholder="Nom de l'élève" required>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group position-relative">
                                        <label>Numero du tèléphone <span class="text-danger">*</span></label>
                                       <i-feather name="phone" class="login-icons"></i-feather>
                                        <input type="number" class="form-control psl-5" formControlName="phoneEleve"
                                            placeholder="numéro de télèphone de l'élève" required>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="form-group position-relative">
                                        <label>Date de naissance <span class="text-danger">*</span></label>
                                        <i-feather name="Calendar" class="login-icons"></i-feather>
                                        <input type="date" class="form-control psl-5"
                                            formControlName="dateNaissanceEleve"
                                            placeholder="Date de naissance de l'élève" required>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group position-relative">
                                        <label>Mot de passe <span class="text-danger">*</span></label>
                                         <i-feather name="key" class="login-icons"></i-feather>
                                        <input type="password" class="form-control psl-5"
                                            formControlName="motPasseEleve"
                                            placeholder="Mot de passe (munimum 8 caractère)" required>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group position-relative">
                                        <label>Confirmez le mot de passe <span class="text-danger">*</span></label>
                                         <i-feather name="key" class="login-icons"></i-feather>
                                        <input type="password" class="form-control psl-5" formControlName="motPasseEleve"
                                            placeholder="Confirmez le mot de passe" required>
                                    </div>
                                </div>
                            
                 
                               <!--<div class="col-md-12">
                                    <div class="form-group position-relative">
                                        <label>Niveau <span class="text-danger">*</span></label>
                                        <i-feather style="padding-right: 5px" name="Edit2" class="login-icons"></i-feather>
                                        <select class="form-control"  formControlName="sectionNiveauId" >
                                         
                                            <option *ngFor="let niveausection of listNiveauSection"
                                                [value]="niveausection.id">
                                                {{niveausection.id}}
                                            </option>
                                        </select>
                                    </div>
                                </div>-->
                                

                           <!--  <div class="col-md-12">
                                    <div class="form-group position-relative">
                                        <label>niv <span class="text-danger">*</span></label>
                                         <i-feather name="key" class="login-icons"></i-feather>
                                        <input type="text" class="form-control psl-5"
                                            formControlName="sectionNiveauId"
                                            placeholder="Mot de passe (munimum 8 caractère)" required>
                                    </div>
                                </div>

-->


                         <!--<ng-select placeholder="Choisir" [items]="listNiveauSection" 
                                bindLabel="sectionniv" bindValue="id"
                                name="sectionNiveauId" formControlName="sectionNiveauId" [(ngModel)]="sectionNiveauId"  required="required">
                                </ng-select>-->

                                <div class="col-md-12">
                                    <div class="form-group position-relative">
                                        <label>Niveau <span class="text-danger">*</span></label>
                                        <i-feather style="padding-right: 5px" name="Edit2" class="login-icons"></i-feather>
                                        <select class="form-control"  formControlName="sectionNiveau" [(ngModel)]="sectionNiveau" >                              
                                            <option *ngFor="let niveausection of listNiveauSection"
                                                value="/api/section_niveaus/{{niveausection.id}}">
                                                {{niveausection.section}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                       <!--         <ng-select placeholder="Choisir" [items]="listGouvernorat" 
                                bindLabel="gouvernorat" bindValue="id" name="gouvernorat" [(ngModel)]="eleve.gouvernoratId" required="required">
                                </ng-select>-->


                            <!--    <div class="col-md-12">
                                    <div class="form-group position-relative">
                                        <label>Gouvernorat <span class="text-danger">*</span></label>
                                        <i-feather name="home" class="login-icons"></i-feather>
                                        <div>
                                        <select class="form-control" formControlName="gouvernoratId" required>
                                    <option value="" selected disabled>Sélectionner</option>
                                            <option *ngFor="let gouveronrat of listGouvernorat"
                                                [value]="gouveronrat.gouvernorat">
                                                {{gouveronrat.gouvernorat}}
                                            </option>
                                        </select>
                                    </div>
                                    </div>
                                </div>-->
                                                   
                                <!--<div *ngIf="error" class="alert alert-danger mb-3 msl-3">{{error}}</div>-->
                                <div class="col-md-12">
                                    <button class="btn btn-primary auth-form-btn">Register</button>
                                </div>
                                <!--          <div class="col-lg-12 mt-4 text-center">
                  <h6>Or Signup With</h6>
                  <ul class="list-unstyled social-icon mb-0 mt-3">
                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
                        <i-feather name="facebook" class="fea-social sm-icon"></i-feather>
                      </a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
                        <i-feather name="github" class="fea-social sm-icon"></i-feather>
                      </a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
                        <i-feather name="twitter" class="fea-social sm-icon"></i-feather>
                      </a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
                        <i-feather name="gitlab" class="fea-social sm-icon"></i-feather>
                      </a></li>
                  </ul>
                </div>
       -->


                                <div class="mx-auto">
                                    <p class="mb-0 mt-3"><small class="text-dark msr-2">Already have an account
                                            ?</small> <a routerLink="/authentication/signin"
                                            class="text-dark fw-bold">Sign in</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>