
                  <ngx-datatable #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator"
                    columnMode="force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10"
                    [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable">
                    <ngx-datatable-column name="Nom">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                          <span title="Double click to edit" (dblclick)="editing[rowIndex + '-nom'] = true"
                            *ngIf="!editing[rowIndex + '-nom']">
                            <div *ngIf="value=='Pack1'" class="badge-outline col-green">{{value}}
                            </div>
                            <div *ngIf="value=='Pack2'" class="badge-outline col-red">{{value}}
                            </div>
                            <div *ngIf="value=='Pack3'" class="badge-outline col-indigo">{{value}}
                            </div>
                            <div *ngIf="value=='Gratuit'" class="badge-outline col-orange">{{value}}
                          </div>
                          </span>
                          <select *ngIf="editing[rowIndex + '-nom']" (blur)="editing[rowIndex + '-nom'] = false"
                            (change)="updateValue($event, 'nom', rowIndex)" [value]="value">
                            <option value="Pack1">Pack1</option>
                            <option value="Pack2">Pack2</option>
                            <option value="Pack3">Pack3</option>
                            <option value="Gratuit">Gratuit</option>
  
                          </select>
                        </ng-template>
                      </ngx-datatable-column>
                    <ngx-datatable-column name="Debut">
                      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        <!--<img src="{{ row.img }}" class="data-table-img" />-->
                        <span title="Double click to edit" (dblclick)="editing[rowIndex + '-debut'] = true"
                          *ngIf="!editing[rowIndex + '-debut']">
                          {{ value }}
                        </span>
                        <input autofocus (blur)="updateValue($event, 'debut', rowIndex)"
                          *ngIf="editing[rowIndex + '-debut']" type="text" [value]="value" />
                        <!--<div class="font-12 text-muted">{{row.designation}}</div>-->
                      </ng-template>
                    </ngx-datatable-column>
  
                    <ngx-datatable-column name="Expiration">
                      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                        <span title="Double click to edit" (dblclick)="editing[rowIndex + '-expiration'] = true"
                          *ngIf="!editing[rowIndex + '-expiration']">
                          {{ value }}
                        </span>
                        <input autofocus (blur)="updateValue($event, 'expiration', rowIndex)"
                          *ngIf="editing[rowIndex + '-expiration']" type="text" [value]="value" />
                        <!--<select *ngIf="editing[rowIndex + '-expiration']" (blur)="editing[rowIndex + '-expiration'] = false"
                          (change)="updateValue($event, 'expiration', rowIndex)" [value]="value">
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                        </select>-->
                      </ng-template>
                    </ngx-datatable-column>
                    <!--<ngx-datatable-column name="Nom">
                      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                        <span title="Double click to edit" (dblclick)="editing[rowIndex + '-nom'] = true"
                          *ngIf="!editing[rowIndex + '-nom']">
                          <div *ngIf="value=='Pack1'" class="badge-outline col-green">{{value}}
                          </div>
                          <div *ngIf="value=='Pack2'" class="badge-outline col-red">{{value}}
                          </div>
                          <div *ngIf="value=='Pack3'" class="badge-outline col-indigo">{{value}}
                          </div>
                          <div *ngIf="value=='Gratuit'" class="badge-outline col-orange">{{value}}
                        </div>
                        </span>
                        <select *ngIf="editing[rowIndex + '-nom']" (blur)="editing[rowIndex + '-nom'] = false"
                          (change)="updateValue($event, 'nom', rowIndex)" [value]="value">
                          <option value="Pack1">Pack1</option>
                          <option value="Pack2">Pack2Completed</option>
                          <option value="Pack3">Pack3</option>
                          <option value="Gratuit">Gratuit</option>

                        </select>
                      </ng-template>
                    </ngx-datatable-column>-->
                    <!--<ngx-datatable-column name="Etat d'abonnement">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.phone}}
                      </ng-template>
                    </ngx-datatable-column>-->
                    <ngx-datatable-column name="Abonnement">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                          <span title="Double click to edit" (dblclick)="editing[rowIndex + '-abonnement'] = true"
                            *ngIf="!editing[rowIndex + '-abonnement']">
                            <div *ngIf="value=='Activé'" class="badge-outline col-green">{{value}}
                            </div>
                            <div *ngIf="value=='Désactivé'" class="badge-outline col-grey">{{value}}
                            </div>
                          </span>
                          <select *ngIf="editing[rowIndex + '-abonnement']" (blur)="editing[rowIndex + '-abonnement'] = false"
                            (change)="updateValue($event, 'abonnement', rowIndex)" [value]="value">
                            <option value="Activé">Activé</option>
                            <option value="Désactivé">Désactivé</option>
                          </select>
                        </ng-template>
                      </ngx-datatable-column>
                    <ngx-datatable-column name="Actions" sortable="false">
                      <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <a class="msr-2 h-auto tblEditBtn">
                          <i class="fas fa-pen"></i>
                        </a>
                        <a class="h-auto tblDelBtn">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
               

