<section class="main-content">
    <ul class="breadcrumb breadcrumb-style ">
      <li class="breadcrumb-item">
        <h5 class="page-title m-b-0 text-primary"><a [routerLink]="['/élèves']">Gestion des élèves</a></h5>
      </li>
      <li class="breadcrumb-item"><a [routerLink]="['/élèves']">Elèves</a></li>
    </ul>
    <div class="section-body">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="p-10">
              <div class="row">
                <div class="col-lg-6">
                  <div class="row m-0">
                    <div class="col-lg-3 p-0">
                      <div class="ngxTableHeader">
                        <div class="table-title">
                          <h2><strong class="text-primary">Gestion des élèves</strong></h2>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-5 p-0">
                      <div class="ngxTableHeader">
                        <div class="table-search-area">
                          <div>
                            <label for="search-input"><i class="material-icons search-icon">search</i></label>
                            <input placeholder="Chercher" type="text" class="browser-default search-field"
                              (keyup)='filterDatatable($event)' aria-label="Search box">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 p-0">
                      <div class="ngxTableHeader">
                        <div class="header-buttons-left">
                          <div class="icon-button-demo buttons">
                            <a class="btn btn-icon icon-left btn-primary rounded-button" [routerLink]="['/AjoutElève']">
                              <i class="material-icons">add</i>
                            </a>
                            <button [hidden]=!isRowSelected class="btn btn-icon icon-left btn-danger rounded-button"
                              (click)='deleteSelected()'>
                              <i class="material-icons">delete</i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ngx-datatable #table class="material" [rows]="data" [loadingIndicator]="loadingIndicator"
                columnMode="force" [headerHeight]="60" [footerHeight]="80" rowHeight="auto" [limit]="10"
                [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable" [selected]="selected"
                [selectionType]="'checkbox'" (select)='onSelect($event)' (page)="onPage($event)">
                
                <!-- Row Detail Template -->
                <ngx-datatable-row-detail [rowHeight]="170" #myDetailRow (toggle)="onDetailToggle($event)">
                  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                    <div style="padding-left:35px;">
                      <p><span class="text-primary">Genre: </span>{{row.sexeEleve}}</p>
                      <p><span class="text-primary">Date de naissance: </span>{{row.dateNaissanceEleve}}</p>
                      <p><span class="text-primary">Date d'expiration du pack: </span>{{ row.expiration }}</p> 
                      <p><span class="text-primary">Addresse complète: </span>{{ row.rue }} {{row.delegation}} {{ row.gouvernorat }} {{ row.code }}</p> 
                    </div>
                  </ng-template>
                </ngx-datatable-row-detail>
              
                <ngx-datatable-column [width]="60" [sortable]="false" [draggable]="false" [resizeable]="false"
                  [canAutoResize]="false" [headerCheckboxable]="true" [checkboxable]="true">
                </ngx-datatable-column>

                <!---->
                <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
                    [canAutoResize]="false">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                      <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                        [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                        (click)="toggleExpandRow(row)">
                      </a>
                    </ng-template>
                  </ngx-datatable-column>
                <!---->
  
                <ngx-datatable-column  name="Nom">
                  <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                    <!--<img src="{{ row.img }}" class="data-table-img" />-->
                    <div class="name-col-style">
                      <div>{{row.firstName}} {{row.lastName}}</div>
                      <!--<div class="font-12 text-muted">{{row.option}}</div>-->
                    </div>
                  </ng-template>
                </ngx-datatable-column>
               
                <ngx-datatable-column name="Tel" >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.phoneEleve}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Email" >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.emailEleve}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column  name="Niveau">
                  <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                    {{row.niveau}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Pack">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div *ngIf="row.pack=='Pack1'" class="badge-outline col-green">{{row.pack}}
                    </div>
                    <div *ngIf="row.pack=='Pack2'" class="badge-outline col-red">{{row.pack}}
                    </div>
                    <div *ngIf="row.pack=='Pack3'" class="badge-outline col-indigo">{{row.pack}}
                    </div>
                    <div *ngIf="row.pack=='Gratuit'" class="badge-outline col-orange">{{row.pack}}
                    </div>
                  </ng-template>
                </ngx-datatable-column>
                              
                <ngx-datatable-column name="Etat abonnement">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div *ngIf="row.etatEleve=='activé'" class="badge-outline col-green">Activé
                      </div>
                      <div *ngIf="row.etatEleve=='désactivé'" class="badge-outline col-grey">Expiré
                      </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column  name="Actions" sortable="false">
                  <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span>
                      <a class="btn btn-tbl-edit h-auto" [routerLink]="['/AjoutElève']" >
                        <i class="fas fa-pen psl 5"></i>
                      </a>
                      
                      <button class="btn btn-tbl-delete h-auto" (click)='deleteSingleRow(row)'>
                        <i class="far fa-trash-alt"></i>
                      </button>
                    </span>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
